name: Terraform Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0 # 最新安定版を指定

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check -recursive
        # コードが綺麗に整形されていないとここでエラーになります

      - name: Terraform Init
        id: init
        run: terraform init -backend=false
        # まだS3バックエンド等の設定がないため backend=false で初期化

      - name: Terraform Validate
        id: validate
        run: terraform validate
        # 構文に誤りがないかチェック